<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088704001157-r49ku9j6aa7dc7i1qpa23h6n5irjboqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088704001157-r49ku9j6aa7dc7i1qpa23h6n5irjboqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ6AmY4by43uFQcXberzEhc-op7wD8U7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1088704001157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cils.xtra</string>
	<key>PROJECT_ID</key>
	<string>extra-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>extra-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088704001157:ios:a8980af31f983385b525ec</string>
	<key>DATABASE_URL</key>
	<string>https://extra-ai.firebaseio.com</string>
</dict>
</plist>